{% extends 'theme/pogo/base.twig' %}

{% set hideHeader = true %}

{% block page_body %}

<div class="container-fluid">

    <h1 class="mt-5">{{ PageTitle }}</h1>

        <div class="row">

            <div class="col-12 col-md-4">

                <h2>
                    PoGo Guildford
                </h2>
                <p>
                    This is a site for the Pokemon Go community in Guildford (UK).
                </p>
                {% if auth_guest() %}
                    <p>
                        We ask that you <a href="{{ route('register') }}">register</a> to see most of the content on the site.
                        (Or if you're already a member, <a href="{{ route('login') }}">login</a> here.)
                    </p>
                    <p>
                        Please don't let the registration requirement put you off from joining -
                        we are a friendly group and are happy to welcome new members.
                    </p>
                {% else %}
                    <p>
                        As this is a private community, we ask that you
                        don't share anything from the site with others.
                    </p>
                {% endif %}

            </div>

            <div class="col-12 col-md-4">

                {% if auth_guest() %}
                    <h2>Tips before you join</h2>
                    <p>
                        It's worth joining our <a href="https://www.facebook.com/groups/PoGoGuildford/" target="_blank">Facebook group</a>
                        if you're not already a member. You can share your trainer code there and also apply to join our
                        Discord group. If we already know who you are, it's much easier for us to let you into the community site.
                    </p>
                {% else %}
                    <h2>Thanks for joining!</h2>
                    {% if auth_user().isApproved() %}
                        <p>
                            You are approved - thanks for joining, and welcome!
                        </p>
                        <p>
                            Now go to the <a href="{{ route('user.dashboard') }}">User dashboard</a> to see what's what.
                        </p>
                    {% elseif auth_user().isPending() %}
                        <p>
                            Please wait while we review your account.
                        </p>
                    {% elseif auth_user().isRejected() %}
                        <!--
                        <p>
                        </p>
                        -->
                    {% else %}
                        <p>
                            Hmm, something's not right here!
                        </p>
                    {% endif %}
                {% endif %}

            </div>

            <div class="col-12 col-md-4">

                {% if auth_user().isApproved() %}
                    <h2>Changelog</h2>
                    <ul>
                        <li>14th Oct: Site launched!</li>
                        {#
                        <li>11th Oct: Add/edit trainers</li>
                        <li>11th Oct: Edit your details</li>
                        <li>11th Oct: Team pie chart</li>
                        <li>7th Oct: Member profile, trainer profile</li>
                        <li>7th Oct: Added footer text variations</li>
                        <li>7th Oct: Fixed menu and column layout on mobile</li>
                        <li>6th Oct: Welcome to the site!</li>
                        #}
                    </ul>
                {% endif %}

            </div>

        </div>

</div>

{% endblock page_body %}
