{% extends 'theme/pogo/section-members.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<h1 class="mt-5">{{ PageTitle }}</h1>

<div class="row">

    <div class="col">

        {% if UserList.count > 0 %}
        <table class="table data-sortable">
            <thead>
            <tr>
                <th>Name</th>
                <th class="text-center">Joined</th>
            </tr>
            </thead>
            <tbody>
            {% for item in UserList %}
                <tr>
                    <td>
                        {% if item.isStaff() %}
                            <span class="badge badge-info">Staff</span>
                        {% endif %}
                        <a href="{{ route('user.members.profile', {'memberId': item.id}) }}">{{ item.name }}</a>
                    </td>
                    <td class="text-center">
                        {{ item.created_at|date('Y-m-d') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% else %}
            <p>No users found!</p>
        {% endif %}

    </div>

</div>

{% endblock page_inner %}

{% block page_scripts %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null
            ]
        });
    });
</script>
{% endblock page_scripts %}
