{% extends 'theme/pogo/section-members.twig' %}

{% if GenId %}
    {% set crumbNav = [{'url': route('user.pokedex.gen-landing', {'genId': GenId}), 'text': 'Pokedex: Gen '~GenId}, {'text': PageTitle}] %}
{% else %}
    {% set crumbNav = [{'text': PageTitle}] %}
{% endif %}

{% block page_inner %}

<h1 class="mt-5">{{ PageTitle }}</h1>

{% include 'user/pokedex/pokemon-list.twig' with {'PokemonList': PokemonList} %}

{% endblock page_inner %}
