<div class="row">

    <div class="col">

        {% if PokemonList.count > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Name</th>
                <th class="text-center">Buddy distance</th>
            </tr>
            </thead>
            <tbody>
            {% for item in PokemonList %}
                <tr>
                    <td class="text-center">
                        {{ item.pokemon_no }}
                    </td>
                    <td>
                        <a href="{{ route('user.pokedex.showPokemon', {'pokemonNo': item.pokemon_no}) }}">
                            {{ item.pokemon_name }}
                        </a>
                    </td>
                    <td class="text-center">
                        {% if item.buddy_distance %}
                        {{ item.buddy_distance }}km
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% else %}
            <p>No Pokemon found!</p>
        {% endif %}

    </div>

</div>
