{% extends 'theme/pogo/base.twig' %}

{% block page_body %}

<div class="container-fluid">

    <h1 class="mt-5">{{ PageTitle }}</h1>

        <div class="row">

            <div class="col-12 col-md-9">

                <h2>About the site</h2>
                <p>
                    PoGo Guildford is a site for the Pokemon Go community in Guildford (UK).
                </p>

                <h2>Image usage</h2>
                <p>
                    Official Pokemon artwork and sprites are used under a Fair Use Policy.
                    If you wish to use them elsewhere, you can save the images from this site and
                    upload them somewhere else. <strong>Do not embed images from this site directly on other sites</strong>!
                </p>

            </div>

            <div class="col-12 col-md-3">

                <h2>Get in touch</h2>
                <p>
                    <strong>pogoguildford@gmail.com</strong>
                </p>

                <h2>List of admins</h2>
                <ul>
                    <li>Phoennetic</li>
                    <li>Joe Micronex</li>
                    <li>dgzip</li>
                    <li>Ayumi</li>
                    <li>switchben</li>
                    <li>Breakstay</li>
                    <li>Colonel Binface</li>
                    <li>sniperdog666</li>
                </ul>

            </div>

        </div>

</div>

{% endblock page_body %}
