{% extends 'theme/pogo/base.twig' %}

{% block page_body %}

<div class="container-fluid">

    <h1 class="mt-5">{{ PageTitle }}</h1>

        <div class="row">

            <div class="col-12 col-md-6">

                <p>
                    We take your privacy seriously at pogoguildford.com. Below is an explanation of what data we
                    store and how we use it.
                </p>
                <h2>Cookies</h2>
                <p>
                    We use cookies to keep you logged in, and to track anonymous visitor statistics via Google Analytics.
                </p>
                <h2>Registration</h2>
                <p>
                    Registration is optional. By choosing to register, you supply us with your email address and your
                    chosen password. This is used to login to the site, and will also be required if you forget your password.
                </p>
                <h2>Your personal information</h2>
                <p>
                    We do not share your personal information with third-parties.
                    Staff at pogoguildford.com will be able to see your email address in the event we need to contact you.
                    No other members will be able to see your email address.
                </p>
                <p>
                    The "My details" page within the User dashboard will allow you to see what data from your account
                    can be viewed by other people.
                </p>
                <p>
                    In the future we may send important account messages to your email address, such as password
                    reset emails, or notification when your account is approved. At this time these are not yet
                    set up. We will amend this privacy policy if and when these features are enabled.
                </p>
                <h2>Passwords</h2>
                <p>
                    We do not store passwords in plain text. We strongly encourage you to practise good password security.
                    Above all, do not use a password for more than one site, and use a password manager such as LastPass or
                    1Password so you don't need to remember all your passwords.
                </p>
                <h2>Your Pokemon Go trainer details</h2>
                <p>
                    You can add details of your trainers within Pokemon Go to pogoguildford.com. By adding a trainer
                    you are sharing your trainer name, trainer code and team with other approved members of pogoguildford.com.
                </p>
                <h2>Account closure</h2>
                <p>
                    You can request the closure of your account at any time. This will result in the anonymisation and deactivation
                    of your member login, and the removal of any trainer details from the site. To request account closure,
                    please see "How to get in touch" below.
                </p>
                <h2>How to get in touch</h2>
                <p>
                    For any questions relating to your privacy, or to request the closure of your account, please
                    contact <strong>pogoguildford [at] gmail [dot] com</strong>.
                </p>

            </div>

        </div>

</div>

{% endblock page_body %}
