{% extends 'theme/pogo/base.twig' %}

{% set hideHeader = true %}

{% block page_body %}

<div class="container-fluid">

    <h1 class="mt-5">{{ PageTitle }}</h1>

        <div class="row">

            <div class="col">

                <h2>
                    Coming soon
                </h2>
                <p>
                    This is where stuff you can do as a logged in user will appear.
                </p>

            </div>

            <div class="col">

                <h2>
                    Coming soon
                </h2>
                <p>
                    This is where stuff you can do as a logged in user will appear.
                </p>

            </div>

            <div class="col">

                <h2>
                    Coming soon
                </h2>
                <p>
                    This is where stuff you can do as a logged in user will appear.
                </p>

            </div>

        </div>

</div>

{% endblock page_body %}
