{% extends 'theme/pogo/base.twig' %}

{% set hideHeader = true %}

{% block page_body %}

<div class="container-fluid">

    <h1 class="mt-5">{{ PageTitle }}</h1>

        <div class="row">

            <div class="col">

                <h2>
                    Hi, {{ AuthUser.name }}!
                </h2>
                <p>
                    It looks like you've logged in successfully. This is where we should probably put some
                    useful information and links. We'll do that soon.
                </p>

            </div>

            <div class="col">

                <h2>
                </h2>
                <p>
                </p>

            </div>

            <div class="col">

                <h2>
                </h2>
                <p>
                </p>

            </div>

        </div>

</div>

{% endblock page_body %}
