{% extends 'theme/pogo/base.twig' %}

{% set hideHeader = true %}

{% block page_body %}

<div class="container-fluid">

    <h1 class="mt-5">{{ PageTitle }}</h1>

        <div class="row">

            <div class="col">

                <h2>
                    Hi, {{ AuthUser.name }}!
                </h2>
                <p>
                    It looks like you've logged in successfully. This is where we should probably put some
                    useful information and links. We'll do that soon.
                </p>

            </div>

            <div class="col">

                {% if AuthUser.isApproved() %}
                    <h2>
                        Trainer codes and members
                    </h2>
                    <ul>
                        <li><a href="{{ route('user.trainers') }}">Trainer list</a></li>
                        <li><a href="{{ route('user.members') }}">Member list</a></li>
                    </ul>
                {% endif %}

            </div>

            <div class="col">

                <h2>Staff</h2>
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Ayumi</td>
                        <td>Admin</td>
                    </tr>
                    <tr>
                        <td>catbob</td>
                        <td>Admin</td>
                    </tr>
                    <tr>
                        <td>Colonel Binface</td>
                        <td>Admin / Event coordinator</td>
                    </tr>
                    <tr>
                        <td>dgzip</td>
                        <td>Admin</td>
                    </tr>
                    <tr>
                        <td>George the whale master</td>
                        <td>Event coordinator</td>
                    </tr>
                    <tr>
                        <td>shellyloves666</td>
                        <td>Admin</td>
                    </tr>
                    <tr>
                        <td>switchben</td>
                        <td>Admin / Website owner</td>
                    </tr>
                    <tr>
                        <td>Phoennetic</td>
                        <td>Admin</td>
                    </tr>
                    <tr>
                        <td>Joe / Micronex</td>
                        <td>Admin</td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>

</div>

{% endblock page_body %}
