{% extends 'theme/pogo/section-staff.twig' %}

{% set crumbNav = [{'url': route('staff.trainer.list'), 'text': 'Trainer list'}, {'text': PageTitle}] %}

{% block page_inner %}

{% set formSubmitAction = route('staff.trainer.edit', {'trainerId': TrainerId}) %}

<h1 class="mt-5">{{ PageTitle }}</h1>

<div class="row">

    <div class="col-12">
        {% include 'staff/trainer/form.twig' with {'formSubmitAction': formSubmitAction} %}
    </div>

</div>

{% endblock page_inner %}

{% block page_scripts %}
{% include 'staff/trainer/scripts.twig' %}
{% endblock page_scripts %}
