{% extends 'theme/pogo/base.twig' %}

{% block page_body %}

{% set formSubmitAction = route('staff.trainer.edit', {'trainerId': TrainerId}) %}
<div class="container-fluid">

    <h1 class="mt-5">{{ PageTitle }}</h1>

    <div class="row">

        <div class="col-12">
            {% include 'staff/trainer/form.twig' with {'formSubmitAction': formSubmitAction} %}
        </div>

    </div>

</div>

{% include 'staff/trainer/scripts.twig' %}

{% endblock page_body %}
