<h2>Staff</h2>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Ayumi</td>
        <td>Admin</td>
    </tr>
    <tr>
        <td>catbob</td>
        <td>Admin</td>
    </tr>
    <tr>
        <td>Colonel Binface</td>
        <td>Admin / Event coordinator</td>
    </tr>
    <tr>
        <td>dgzip</td>
        <td>Admin</td>
    </tr>
    <tr>
        <td>George the whale master</td>
        <td>Event coordinator</td>
    </tr>
    <tr>
        <td>shellyloves666</td>
        <td>Admin</td>
    </tr>
    <tr>
        <td>switchben</td>
        <td>Admin / Website owner</td>
    </tr>
    <tr>
        <td>Phoennetic</td>
        <td>Admin</td>
    </tr>
    <tr>
        <td>Joe / Micronex</td>
        <td>Admin</td>
    </tr>
    </tbody>
</table>
