{% extends 'theme/pogo/section-members.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<h1 class="mt-5">{{ PageTitle }}</h1>

<div class="row">

    <div class="col-12 col-md-12">

        <p>
            This is a work in progress. It might not work!
        </p>

        <div id="pokestops-map" style="height: 400px; width: 100%;"></div>
        <script src="{{ asset('js/OpenLayers/OpenLayers.js') }}"></script>
        <script>
            // Marker popup code
            // Credit: https://harrywood.co.uk/maps/examples/openlayers/marker-popups.view.html

            map = new OpenLayers.Map("pokestops-map");
            map.addLayer(new OpenLayers.Layer.OSM());

            epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
            projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)

            var lonLat = new OpenLayers.LonLat(-0.57312, 51.24184).transform(epsg4326, projectTo);

            var zoom = 16;
            map.setCenter(lonLat, zoom);

            var vectorLayer = new OpenLayers.Layer.Vector("Overlay");

            // Define markers as "features" of the vector layer:

            var featureOptions = {externalGraphic: '/js/OpenLayers/img/marker.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset:-12, graphicYOffset:-25  };
            var feature = new OpenLayers.Feature.Vector(
                new OpenLayers.Geometry.Point(-0.57312, 51.24184).transform(epsg4326, projectTo),
                {description: 'Artillery Terrace Play Area'} ,
                featureOptions
            );
            vectorLayer.addFeatures(feature);

            var feature = new OpenLayers.Feature.Vector(
                new OpenLayers.Geometry.Point(-0.57155, 51.24252).transform(epsg4326, projectTo),
                {description: 'The Stoke Pub'} ,
                featureOptions
            );
            vectorLayer.addFeatures(feature);

            map.addLayer(vectorLayer);

            //Add a selector control to the vectorLayer with popup functions
            var controls = {
                selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })
            };

            function createPopup(feature) {
                feature.popup = new OpenLayers.Popup.FramedCloud("pop",
                    feature.geometry.getBounds().getCenterLonLat(),
                    null,
                    '<div class="markerContent">'+feature.attributes.description+'</div>',
                    null,
                    true,
                    function() { controls['selector'].unselectAll(); }
                );
                //feature.popup.closeOnMove = true;
                map.addPopup(feature.popup);
            }

            function destroyPopup(feature) {
                feature.popup.destroy();
                feature.popup = null;
            }

            map.addControl(controls['selector']);
            controls['selector'].activate();
        </script>

    </div>

</div>

{% endblock page_inner %}
