{% extends 'theme/pogo/section-members.twig' %}

{% set crumbNav = [{'url': route('user.my-details.show'), 'text': 'My details'}, {'text': PageTitle}] %}

{% block page_inner %}

{% set formSubmitAction = route('user.my-details.edit') %}

<h1 class="mt-5">{{ PageTitle }}</h1>

<div class="row">

    <div class="col-12">
        {% include 'user/my-details/form.twig' with {'formSubmitAction': formSubmitAction} %}
    </div>

</div>

{% endblock page_inner %}

{% block page_scripts %}
{% include 'user/my-details/scripts.twig' %}
{% endblock page_scripts %}
